@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photo";
}
<div id="tt" class="easyui-tabs" data-options="tabPosition:'top'">
    <div title="在线图库">
        <div id="z-img">

        </div>
    </div>
    <div title="上传图片">

    </div>
    <div title="远程图片">

    </div>
</div>
