@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photo";
}
@*<div id="tt" class="easyui-tabs" data-options="tabPosition:'top'">
    <div title="在线图库">
        <div class="img-list">

        </div>
    </div>
    <div title="上传图片">

    </div>
    <div title="远程图片">

    </div>
</div>*@

<div class="z-img">
    <div class="z-img-select">

    </div>
    <div class="img-insert">

    </div>
</div>
