@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photo";
}
<div id="tt" class="easyui-tabs" data-options="tabPosition:'top'">
    <div title="在线图库">
       <table id="grid"></table>
    </div>
    <div title="上传图片">

    </div>
    <div title="远程图片">

    </div>
</div>
<div class="img-insert">

</div>
<script type="text/javascript">
    $(function () {
        //加载网格(搜索中文版对照属性，来配置)
        $('#grid').datagrid({
            title: '列表',
            collapsible: true,
            rownumbers: true,
            url: '/Product/ProductList',
            method: 'get',
            loadMsg: '正在加载数据...',
            fitColumns: false,
            width: 500,
            height: 500,
            pagination: true,
            pageSize: 30,
            pageList: [10, 20, 30, 40, 50, 100],
            columns: [[
                { field: 'ProductId', checkbox: true },
                { field: 'Zsc', title: '商品编码', width: 100, align: 'center' },
                { field: 'CateName', title: '所属类目', width: 80, align: 'center' },
            ]],
            onLoadError: function () {
                $.messager.alert('提醒', '数据加载错误，请重试或重新登入系统');
            },
            toolbar: '#toolbar',
        });
    });
</script>
