@{
    ViewBag.Title = "_FloatTools";
}

<div id="floatTools" class="float0831">
    <div class="floatL">
        <a id="aFloatTools_Show" class="btnOpen" rel="nofollow" style="DISPLAY: none" title="查看在线客服" href="javascript:void(0);">展开</a>
        <a id="aFloatTools_Hide" class="btnCtn" rel="nofollow" title="关闭在线客服" href="javascript:void(0);">收缩</a>
    </div>
    <div id="divFloatToolsView" class="floatR" style="display: blcok">
        <div class="tp"></div>
        <div class="cn">
            <ul>
                <li class="top">
                    <h3 class="titZx"><a title="企业qq" rel="nofollow" target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAwNzE2N18zNzUzN184MDAwMDcxNjdfMl8"></a></h3>
                </li>


                <li><a class="icoTc" title="售前咨询" rel="nofollow" target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAwNzE2N18zNzUzN184MDAwMDcxNjdfMl8">售前咨询</a> </li>

                <li><a class="icoTl" title="售前咨询" rel="nofollow" target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAwNzE2N18zNzUzN184MDAwMDcxNjdfMl8">4000 021 758</a> </li>

            </ul>


            <ul>

                <li><a href="http://weibo.com/ECMBT" target="_blank" title="新浪企业微博" class="weibo_sina"></a></li>
                <li><a href="http://e.t.qq.com/ecmoban_com" title="腾讯企业微博" target="_blank" class="weibo_qq"></a></li>

                <li style="position: relative; overflow: visible" class="bot" onmouseover="this.className=&#39;bot weixin_on&#39;" onmouseout="this.className=&#39;bot&#39;">
                    <a href="http://www.ecmoban.com/#" title="官方微信" target="_blank" class="weixin"></a>
                    <div class="weixin_box">
                        <a href="http://www.ecmoban.com/article.php?id=1660" title="扫一扫模板堂公众微信送红包" target="_blank" class="float_weixin"></a>

                        <div class="f_r">
                            <p>加模板堂公众微信</p>
                            <p>送<b>200元</b>红包</p>
                            <p><a href="http://www.ecmoban.com/article.php?id=1660" target="_blank">查看详情</a></p>
                        </div>

                        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2733582" src="/content/images/bds_s_v2.js"></script>

                        <script type="text/javascript">
                            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
                        </script>

                        <img class="dang" src="/content/images/dang1.gif">
                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>
