
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>@ViewBag.Title</title>

    @System.Web.Optimization.Styles.Render("~/content/css/style.css")

    


    @RenderSection("contents", required: false)


    <link rel="alternate" type="application/rss+xml" title="RSS|ECSHOP模板堂" href="http://www.ecmoban.com/feed.xml">
    
    
    <script charset="utf-8" src="./ECSHOP模板堂,ECSHOP模板,ECSHOP模板开发,ECSHOP模板定制,ECSHOP网店模板_files/v.js"></script>
    <script src="./ECSHOP模板堂,ECSHOP模板,ECSHOP模板开发,ECSHOP模板定制,ECSHOP网店模板_files/logger.js"></script>
    <link href="./ECSHOP模板堂,ECSHOP模板,ECSHOP模板开发,ECSHOP模板定制,ECSHOP网店模板_files/bdsstyle.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body { _background-attachment: fixed; }
        .baidu-auth-pop { position: fixed; _position: absolute; right: 0; _right: -1px; top: 80px; _bottom: auto; z-index: 2147483647; _top: expression(eval(document.documentElement.scrollTop + 80)); }
    </style>
</head>
<body>
	@RenderBody()
</body>
</html>

    
