@{
    ViewBag.Title = "_SildeBox";
}

@* <iframe style="display: none;" frameborder="0"></iframe>
    <div id="slideBox" class="slideBox">

        <div class="bd">
            <div class="tempWrap" style="overflow: hidden; position: relative; height: 50px">
                <ul style="position: relative; padding: 0px; margin: 0px; top: -50px;">
                    <li style="height: 50px; line-height: 50px; background-image: url(http://www.ecmoban.com/themes/ecmoban/images/banner1800x50_14.png); background-position: 50% 0px; background-repeat: initial initial;"><a rel="nofollow" href="http://www.ecmoban.com/weixin" target="_blank" style="display: block; text-decoration: none" title="ecshop微商城上线！">&nbsp;</a></li>
                    <li style="height: 50px; line-height: 50px; background-image: url(http://www.ecmoban.com/themes/ecmoban/images/banner1800x50_9.jpg); background-position: 50% 0px; background-repeat: initial initial;"><a href="http://www.ecmoban.com/shouquan.html" target="_blank" style="display: block; text-decoration: none" title="ecshop授权">&nbsp;</a></li>


                </ul>
            </div>
        </div>

        <div class="hd">
            <ul>
                <li class=""></li>
                <li class="on"></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(".slideBox").slide({mainCell:".bd ul",effect:"top",autoPlay:true,easing:"easeOutCirc",delayTime:800});
		</script>


    <link href="/content/images/suggest.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        var process_request = "正在处理您的请求...";
</script>
    <script type="text/javascript"> 
        //收藏本站 www.ecmoban.com 
        function AddFavorite(title, url) { 
            try { 
                window.external.addFavorite(url, title); 
            } 
            catch (e) { 
                try { 
                    window.sidebar.addPanel(title, url, ""); 
                } 
                catch (e) { 
                    alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加"); 
                } 
            } 
        } 
</script>*@

<!--[if IE 6]>
<script src="themes/ecmoban/js/DD_belatedPNG_0.0.8a-min.vb4e86b02.js"></script>
<script> DD_belatedPNG.fix('.pngfix'); </script>
<![endif]-->
