@{
    ViewBag.Title = "_Top";
}


<div id="topNav">
    <div class="block clearfix">

        <div class="topNav1">
            <font id="ECS_MEMBERZONE">
                    <div id="append_parent"></div>
                    <span class="f_l">您好，<font class="f4_b">14000682863</font>  欢迎您回来！</span>
                    <a href="/user/">用户中心</a>
                    <a href="http://www.ecmoban.com/user.php?act=logout">退出</a>

                </font>
        </div>

        <script type="text/javascript" src="/content/images/utils.js"></script>
        <div class="f_r">

            <span class="f_l top_ico top_ico2" id="ECS_CARTINFO"><a href="http://www.ecmoban.com/flow.php" title="查看购物车">购物车 <strong>0</strong> 件</a></span>
            <span class="j"></span>
            <a class="top_ico top_ico1" href="javascript:void(0);" onclick="AddFavorite(&#39;ecshop模板堂（www.ecmoban.com） ecshop模板插件选购第一站&#39;,location.href)">收藏模板堂</a>
            <span class="j"></span>


            <div class="div" onmouseover="this.className=&#39;div div_on&#39;" onmouseout="this.className=&#39;div&#39;">
                <a class="top_ico top_ico3" href="http://www.ecmoban.com/ecmoban_app.html">手机模板堂</a><i></i>
                <div class="top_app">
                    <div class="dang dang1"></div>
                    <div class="app_pic">
                    </div>
                    <div class="txt">
                        <p>扫描我，即刻下载</p>
                        <b>模板堂手机客户端</b>
                    </div>
                    <div class="blank"></div>
                    <div class="bnt clearfix">
                        <a class="a1" rel="nofollow" href="https://itunes.apple.com/cn/app/ecshop-mo-ban-tang/id773051406?ls=1&mt=8" target="_blank" title="appstore下载">appstore下载</a>
                        <a class="a2" rel="nofollow" href="http://www.ecmoban.com/app/ecmoban.apk" target="_blank" title="安卓下载">安卓下载</a>
                    </div>
                </div>
            </div>

            <span class="j"></span>
            <a href="http://www.ecmoban.com/shouquan.html" target="_blank">ECShop授权</a><span class="j"></span><div class="div" onmouseover="this.className=&#39;div div_on&#39;" onmouseout="this.className=&#39;div&#39;">
                <a href="http://www.ecmoban.com/ecshop.html" target="_blank">帮助中心 </a><i></i>
                <div class="top_help">
                    <div class="dang dang2"></div>
                    <div class="list clearfix">
                        <a href="http://www.ecmoban.com/ecshop.html" target="_blank" title="ecshop学院">ecshop学院</a>
                        <a href="http://book.ecmoban.com/" target="_blank" title="在线手册">在线手册</a>
                        <a href="http://www.ecmoban.com/help-45.html" target="_blank" title="视频教程">视频教程</a>
                        <a href="http://bbs.ecmoban.com/forum-49-1.html" target="_blank" title="提问回答">提问回答</a>
                    </div>
                </div>
            </div>
            <span class="j"></span>
            <div class="div " onmouseover="this.className=&#39;div div_on&#39;" onmouseout="this.className=&#39;div&#39;">
                <a class="top_ico top_ico4" href="" rel="nofollow">所有产品</a><i></i>
                <div class="top_goods">
                    <div class="dang dang3"></div>
                    <div class="list clearfix">
                        <dl>
                            <dt>
                                <a href="http://www.ecmoban.com/ecshop_jieshao.html" target="_blank" title="在线商城系统">在线商城系统</a></dt>
                            <dd class="clearfix">
                                <a href="http://www.ecmoban.com/ecshop_jieshao.html" target="_blank" title="ecshop v2.7.3">ecshop v2.7.3</a>
                                <a href="http://www.ecmoban.com/shouquan.html" target="_blank" title="商业授权">ecshop 商业授权</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="http://www.ecmoban.com/category-9-b0.html" target="_blank" title="模板插件应用">模板插件应用</a></dt>
                            <dd class="clearfix">
                                <a href="http://www.ecmoban.com/category-9-b0.html" target="_blank" title="ecshop 模板">ecshop 模板</a>
                                <a href="http://www.ecmoban.com/category-23-b0.html" target="_blank" title="ecshop 插件">ecshop 插件</a>

                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="http://www.ecmoban.com/ecmobile.html" target="_blank" title="手机端产品">手机端产品</a></dt>
                            <dd class="clearfix">
                                <a href="http://www.ecmoban.com/goods-314.html" target="_blank" title="app客户端+服务包">app客户端+服务包</a>
                                <a href="http://www.ecmoban.com/goods-311.html" target="_blank" title="ectouch 触屏版">ectouch 触屏版</a>
                                <a href="http://www.ecmoban.com/ecmobile.html" target="_blank" title="ecmobile v3.0">ecmobile v3.0</a>
                                <a href="http://www.ecmoban.com/weixin" target="_blank" title="ecshop 微商城">ecshop 微商城</a>

                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="http://www.ecmoban.com/taocan.html" target="_blank" title="相关服务">相关服务</a></dt>
                            <dd class="clearfix">
                                <a href="http://www.ecmoban.com/kaifa.html" target="_blank" title="ecshop二次开发">ecshop二次开发</a>
                                <a href="http://www.ecmoban.com/dingzhi.html" target="_blank" title="ecshop模板定制">ecshop模板定制</a>
                                <a href="http://www.ecmoban.com/kongjian.html" target="_blank" title="空间/服务器租用">空间/服务器租用</a>

                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <a href="http://www.ecmoban.com/taocan.html" target="_blank" title="服务套餐">服务套餐</a></dt>
                            <dd>
                                <a href="http://www.ecmoban.com/taocan.html" target="_blank" title="专业版套餐">企业版套餐</a>
                                <a href="http://www.ecmoban.com/taocan.html" target="_blank" title="专业版套餐">专业版套餐</a>
                                <a href="http://www.ecmoban.com/taocan.html" target="_blank" title="旗舰版套餐">旗舰版套餐</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
