@{
    Layout = "~/Areas/Site/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@model Zero.Web.Areas.Site.Models.ProductListModel

<div class="cover-page-list fl wfs bcf2">
	<div class="place fz12" style="padding-left: 20px;">
		 您现在的位置：<a href=".">首页</a><code>&gt;</code><a href="category-9-b0.html">ECSHOP模板</a>
	</div>
	<div class="fl" style="width: 300px; float: left;">
		<div class="left j-left wfs fz12">
			<h3 class="template">模板<span class="hide-left j-hide-left" style=""><i></i></span></h3>
			<div class="icons j-icons wfs">
				<a class="now" href="category.php?id=9">商业模板</a><a href="category.php?id=6">免费模板</a>
			</div>
			<div class="templates-items j-template-items wfs" style="display: block;">
				<dl class="conditions wfs">
					<dt class="j-demo-l-dt wfs "><b>分类</b></dt>
					<dd class="j-demo-l-dd wfs"><a class="template-a" href="javascript:void(0);">全部</a><a href="category-1-b0-min0-max0-attr0.html">服装鞋包</a><a href="category-2-b0-min0-max0-attr0.html">家电数码</a><a href="category-3-b0-min0-max0-attr0.html">英文外贸</a><a href="category-4-b0-min0-max0-attr0.html">综合通用</a><a href="category-7-b0-min0-max0-attr0.html">食品保健</a><a href="category-8-b0-min0-max0-attr0.html">团购模板</a><a href="category-10-b0-min0-max0-attr0.html">美容护肤</a><a href="category-11-b0-min0-max0-attr0.html">珠宝饰品</a><a href="category-12-b0-min0-max0-attr0.html">鲜花礼品</a><a href="category-44-b0-min0-max0-attr0.html">系统软件</a></dd>
				</dl>
				<dl class="conditions wfs">
					<dt class="j-demo-l-dt wfs "><b>主题</b></dt>
					<dd class="j-demo-l-dd wfs"><a class="template-a" href="javascript:void(0);">全部</a><a href="category-9-b0-min0-max0-attr218.0.html">古典雅致</a><a href="category-9-b0-min0-max0-attr226.0.html">可爱温馨</a><a href="category-9-b0-min0-max0-attr201.0.html">时尚简约</a><a href="category-9-b0-min0-max0-attr197.0.html">潮流酷炫</a><a href="category-9-b0-min0-max0-attr230.0.html">节日庆典</a></dd>
				</dl>
				<dl class="conditions wfs">
					<dt class="j-demo-l-dt wfs "><b>色系</b></dt>
					<dd class="j-demo-l-dd wfs"><a class="template-a" href="javascript:void(0);">全部</a><a href="category-9-b0-min0-max0-attr0.268.html">多彩</a><a href="category-9-b0-min0-max0-attr0.322.html">橙色</a><a href="category-9-b0-min0-max0-attr0.290.html">白色</a><a href="category-9-b0-min0-max0-attr0.274.html">粉色</a><a href="category-9-b0-min0-max0-attr0.223.html">紫色</a><a href="category-9-b0-min0-max0-attr0.204.html">红色</a><a href="category-9-b0-min0-max0-attr0.202.html">绿色</a><a href="category-9-b0-min0-max0-attr0.276.html">蓝色</a><a href="category-9-b0-min0-max0-attr0.198.html">黑色</a></dd>
				</dl>
				<dl class="conditions wfs">
					<dt class="j-demo-l-dt wfs "><b>价格</b></dt>
					<dd class="j-demo-l-dd wfs"><a class="template-a" href="javascript:void(0);">全部</a>
					<li><a href="category-9-b0-min0-max14000-attr0.html">0&nbsp;-&nbsp;14000</a></li>
					<li><a href="category-9-b0-min14000-max28000-attr0.html">14000&nbsp;-&nbsp;28000</a></li>
					<li><a href="category-9-b0-min98000-max112000-attr0.html">98000&nbsp;-&nbsp;112000</a></li>
					</dd>
				</dl>
			</div>
			<div class="also-like wfs mt20">
				<h4>你可能还喜欢</h4>
				<ul class="likes">
					<li class="likes-li wfs"><span class="commend">新品</span><a target="_blank" href="goods_topic-408.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/408_thumb_G_1412040867989.png" title="大京东——最佳行业解决方案 最新升级版2.0" alt="大京东——最佳行业解决方案 最新升级版2.0"></a><strong class="fl wfs" style="text-align: center;"><a title="大京东——最佳行业解决方案 最新升级版2.0" target="_blank" href="goods_topic-408.html">大京东——最佳行业解决方案 最新升级版2.0</a></strong><i class="fl wfs">￥98000元 </i></li>
					<li class="likes-li wfs"><span class="commend">新品</span><a target="_blank" href="goods_topic-479.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/479_thumb_G_1412040907515.png" title="ECSHOP商创版-首款企业级多用户商城系统_ECSC" alt="ECSHOP商创版-首款企业级多用户商城系统_ECSC"></a><strong class="fl wfs" style="text-align: center;"><a title="ECSHOP商创版-首款企业级多用户商城系统_ECSC" target="_blank" href="goods_topic-479.html">ECSHOP商创版-首款企业级多用户商城系统_ECSC</a></strong><i class="fl wfs">￥23000元 </i></li>
					<li class="likes-li wfs"><span class="commend">新品</span><a target="_blank" href="goods_topic-414.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/414_thumb_G_1412041795777.png" title="ECTouch微商城—首款ecshop微信商城系统 自主开发" alt="ECTouch微商城—首款ecshop微信商城系统 自主开发"></a><strong class="fl wfs" style="text-align: center;"><a title="ECTouch微商城—首款ecshop微信商城系统 自主开发" target="_blank" href="goods_topic-414.html">ECTouch微商城—首款ecshop微信商城系统 自主开发</a></strong><i class="fl wfs">￥5000元 </i></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="right j-right" style="margin-left: 300px;">
		<div class="sort wfs">
			<div style="float: left;">
				<span style="margin-left: 45px; float: left; padding-top: 5px; font-size: 12px;">排序：</span><span class="sort-icons j-sort-icons"><a class="now" rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=goods_id&order=ASC#goods_list">新品</a><a rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=shop_price&order=ASC#goods_list">价格</a><a rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=last_update&order=DESC#goods_list">热评</a><a rel="nofollow" href="category.php?category=9&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=sales_count&order=ASC#goods_list">热销</a></span>
			</div>
			<div class="totals" style="padding-top: 20px; margin-top: 0px; text-align: right;">
				共找到<i>150</i>款产品
			</div>
		</div>
		<form name="compareForm" action="compare.php" method="post" onsubmit="return compareGoods(this);">
			<div class="boutique">
				<ul class="items wfs">
					<li class="items-li j-items-li"><a href="http://www.ecmoban.com/goods-537.html" target="_blank"><img class="goodsimg" data-original="http://upfile.ecmoban.com/images/201410/thumb_img/537_thumb_G_1413314272526.png" src="http://www.ecmoban.com/content/themes/ecmoban2014/images/loading.gif" alt="ECSHOP模板堂美味七七最新模板+积分换购"/></a>
					<div class="wrap_div">
						<div>
							<b class="title"><a href="http://www.ecmoban.com/goods-537.html" title="ECSHOP模板堂美味七七最新模板+积分换购" target="_blank">ECSHOP模板堂美味七七最新模板+积分...</a></b><span class="description"><a href="category-9-b0.html" target="_blank" title="">ECSHOP模板 </a> - <a href="category-4-b0.html" target="_blank" title="">综合通用 </a></span>
							<p class="price-attente">
								 与手机端组合购买立减500元
							</p>
						</div>
					</div>
					<p class="price-attente">
						<span class="price">￥5000元 </span><span class="attente" title="浏览量">1729</span>
					</p>
					</li>
				</ul>
			</div>
		</form>
		<script type="text/javascript">
		    function selectPage(sel) {
		        sel.form.submit();
		    }
        </script>
		<script type="text/javascript">
		    var button_compare = '';
		    var exist = "您已经选择了%s";
		    var count_limit = "最多只能选择4个商品进行对比";
		    var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
		    var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
		    var btn_buy = "购买";
		    var is_cancel = "取消";
		    var select_spe = "请选择商品属性";
        </script>
		<form name="selectPageForm" class="pageForm" action="/category.php" method="get">
			<div class="fl wfs">
				<ul class="pagination pages">
					<li class="active"><a>1<span class="sr-only">(current)</span></a></li>
					<li><a href="category-9-b0-min0-max0-attr0-2-goods_id-DESC.html">2 <span class="sr-only">(current)</span></a></li>
					<li><a href="category-9-b0-min0-max0-attr0-3-goods_id-DESC.html">3 <span class="sr-only">(current)</span></a></li>
					<li><a href="category-9-b0-min0-max0-attr0-4-goods_id-DESC.html">4 <span class="sr-only">(current)</span></a></li>
					<li><a href="category-9-b0-min0-max0-attr0-5-goods_id-DESC.html">5 <span class="sr-only">(current)</span></a></li>
					<li><a href="category-9-b0-min0-max0-attr0-2-goods_id-DESC.html"><i class="page-bg page-right"></i><span class="sr-only">(current)</span></a></li>
					<li><a href="category-9-b0-min0-max0-attr0-7-goods_id-DESC.html">最末页 <span class="sr-only">(current)</span></a></li>
				</ul>
			</div>
		</form>
		<script type="text/javascript">
		    function selectPage(sel) {
		        sel.form.submit();
		    }
        </script>
		<div style="clear: both;">
		</div>
	</div>
</div>


@Html.Partial("_Footer")

<script>
    // 商品动画
    var move = function (wrap, cname) {

        $("." + wrap).each(function () {
            var obj = $(this).find("." + cname);
            var p = obj.find("p");
            $(this).hover(function () {
                p.stop().animate({ height: 20 }, 200);
                $(this).addClass("active");
            }, function () {
                p.stop().animate({ height: 0 }, 200);
                $(this).removeClass("active");
            });
        });
    }
    move("j-items-li", "wrap_div");
    //模板条件切换
    $(".j-icons a").click(function () {
        $(this).addClass("now").siblings("a").removeClass("now");
        $(".j-template-items").eq($(this).index()).show().siblings(".j-template-items").hide();
    });
    // 排序切换
    $(".j-sort-icons a").click(function () {
        $(this).addClass("now").siblings("a").removeClass("now");
    });
    //左侧隐藏和展开
    $(".j-hide-left").click(function () {
        if ($(".j-left").css('left') != "-300px") {
            $(".j-left").animate({ left: '-300px' }, "slow");
            $(".j-right").animate({ left: "-300px" }, "slow");
            $(".j-right").css({ width: "100%" });
            $(this).children().addClass('now');
        } else {
            $(".j-left").animate({ left: '0' }, "slow");
            $(".j-right").animate({ left: "0px" }, "slow");
            $(".j-right").css({ width: "auto" });
            $(this).children().removeClass('now');
        }
    })
    $(".j-demo-l-dt").click(
        function () {
            if ($(this).hasClass('now')) {
                $(this).removeClass("now");
                $(this).siblings("dd").hide();
            } else {
                $(this).addClass("now");
                $(this).siblings("dd").show();
            }



        }
    );
    // $(".j-demo-l-dd a").click(function(){
    //      var span = "<span>"+$(this).html()+"</span>";
    //      $(this).parent("dd").siblings("dt").children("b").children("span").remove();
    //      $(this).parent("dd").siblings("dt").children("b").append(span);
    // });
</script>



