@{
    Layout = "~/Views/Shared/Tab/_Index.cshtml";
    ViewBag.Title = "NewsIndex";
}

<!-- 列表 -->
<table id="grid"></table>

<!-- 工具栏 -->
<div id="toolbar">
    <div>
        <a href="#" id="add"  class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="#" id="edit" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="#" id="remove" class="easyui-linkbutton" iconCls="icon-remove" plain="true">移除</a>
        <a href="#" id="reload" class="easyui-linkbutton" iconCls="icon-reload" plain="true">刷新</a>
        
    </div>
   @* <div>
        Date From: <input class="easyui-datebox" style="width:80px">
        To: <input class="easyui-datebox" style="width:80px">
        Language: 
        <select class="easyui-combobox" panelHeight="auto" style="width:100px">
            <option value="java">Java</option>
            <option value="c">C</option>
            <option value="basic">Basic</option>
            <option value="perl">Perl</option>
            <option value="python">Python</option>
        </select>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search">Search</a>
    </div>*@
</div>

<script type="text/javascript">

    var controller = "Code";
    var controllerName = "验证码";

    $(function () {

        //加载网格(搜索中文版对照属性，来配置)
        $('#grid').datagrid({
            title: '验证码列表',
            collapsible: true,
            rownumbers: true,
            url: '/Code/CodeList',
            method: 'get',
            loadMsg: '正在加载数据...',
            //idField: 'ProductId',
            fitColumns: false,
            width: 1180,
            height: 630,
            pagination: true,
            pageSize: 30,
            pageList: [10, 20, 30, 40, 50, 100],
            frozenColumns: [[
                { field: 'id', checkbox: true },
                { field: 'CodeId', title: '编号', align: 'center' },
                { field: 'UserId', title: '用户编号',  align: 'center' },
                { field: 'Operater', title: '操作人', algin: 'center' },
                { field: 'CodeType', title: '验证码用途', algin: 'center', formatter: codeTypeFormat },
                { field: 'SendType', title: '发送方式', algin: 'center', formatter: sendTypeFormat },
                { field: 'SendNo', title: '发送号码', algin: 'center' },
                { field: 'Num', title: '验证码', algin: 'center' },
                { field: 'Content', title: '内容', align: 'center' },
                { field: 'Restult', title: '发送结果', align: 'center' },
                { field: 'Status', title: '状态', align: 'center', formatter: statusFormat },
                { field: 'CreateTime', title: '创建时间', align: 'center', formatter: timeFormat },
                { field: 'UpdateTime', title: '修改时间', align: 'center', formatter: timeFormat },
                { field: 'DetailUrl', hidden: true },
            ]],
            onLoadError: function () {
                $.messager.alert('提醒', '数据加载错误，请重试或重新登入系统');
            },
            toolbar: '#toolbar',
        });

        function codeTypeFormat(value, row, index) {
            switch (value)
            {
                case 0:
                    return "验证手机";
                default:
                    return "未知类型";
            }
        }

        function sendTypeFormat(value, row, index) {
            switch (value) {
                case 0:
                    return "手机";
                case 1:
                    return "邮件";
                default:
                    return "未知方式";
            }
        }

        function statusFormat(value, row, index) {
            switch (value) {
                case -1:
                    return "发送失败";
                case 0:
                    return "发送成功";
                case 1:
                    return "已验证";
                default:
                    return "未知状态";
            }
        }

        function operateFormat(value, row, index) {
            var html = "";
            html += openParentTabLinkButton('修改', '/News/NewsEdit?NewsId=' + row.id, row.id);
            html += " | ";
            html += "<a href=\"javascript:void(0);\" onclick=\"operateAjax({ action: 'delete', ids:" + row.id + " })\">删除</a>";
            return html;
        }
    });
</script>
