@{
    Layout = "~/Views/Shared/Tab/_Add.cshtml";
    ViewBag.Title = "Create";
}

@section Scripts {
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="lang/zh-cn/zh-cn.js"></script>
}

<div id="tt" class="easyui-tabs" data-options="tabPosition:'top'">
    <div title="商品基本">
        <form id="ff" method="post">
            <table class="z-tb-form">
                <tr>
                    <th>所属分类：</th>
                    <td>
                        <input name="Pid"  data-options="url:'@Url.Action("CateDropList","Cate")'" class="easyui-combotree"  style="width:200px;">
                    </td>
                </tr>
                <tr>
                    <th>所属类型：</th>
                    <td>
                        <input type="radio" id="new" name="type" /><label for="new">全新</label>
                        <input type="radio" id="old" name="type" /><label for="old">二手</label>
                    </td>
                </tr>
                <tr>
                    <th>商品标题：</th>
                    <td><input type="text" name="name" class="easyui-validatebox" data-options="required:true" style="width:600px;"/></td>
                </tr>
                <tr>
                    <th>商品编码：</th>
                    <td><input type="text" name="email" class="easyui-validatebox" data-options="required:true,validType:'email'" style="width:100px;"/></td>
                </tr>
                <tr>
                    <th>一口价：</th>
                    <td><input type="text" name="email" class="easyui-validatebox" data-options="required:true,validType:'email'" style="width:100px;"/></td>
                </tr>
                <tr>
                    <th>商品属性：</th>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>商品销售属性：</th>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>商品组图：</th>
                    <td>

                    </td>
                </tr>
                <tr>
                    <th>商品数量：</th>
                    <td><input type="text" name="subject" class="easyui-validatebox" data-options="validType:'email'" style="width:50px;"/>件</td>
                </tr>
                <tr>
                    <th>商品详细：</th>
                    <td>
                        <script id="editor" type="text/plain" style="width:800px;height:300px;"></script>
                    </td>
                </tr>
                <!--物流信息-->
                <tr>
                    <th>重量：</th>
                    <td><input type="text" name="subject" class="easyui-validatebox" data-options="validType:'email'" style="width:50px;"/>千克</td>
                </tr>
                <tr>
                    <th>体积：</th>
                    <td><input type="text" name="subject" class="easyui-validatebox" data-options="validType:'email'" style="width:50px;"/>立方米</td>
                </tr>
                <tr>
                    <th>运费：</th>
                    <td>
                        <input type="radio" id="seller" name="fee" /><label for="seller">卖家承担运费</label><br />
                        <input type="radio" id="buyer" name="fee" /><label for="buyer">买家承担运费</label><br />
                        <br />运费模版<br />
                        <input type="radio" id="buyer_1" name="feeTemp" /><label for="buyer_1">请选择模版：</label><br />
                        <input type="radio" id="buyer_2" name="feeTemp" /><label for="buyer_2">平邮：</label>
                        <input type="text" name="subject" class="easyui-validatebox" data-options="validType:'email'" style="width:50px;"/>元
                        快递：<input type="text" name="subject" class="easyui-validatebox" data-options="validType:'email'" style="width:50px;"/>元
                        EMS:<input type="text" name="subject" class="easyui-validatebox" data-options="validType:'email'" style="width:50px;"/>元
                    </td>
                </tr>
                <!--售后服务-->
                <tr>
                    <th>发票：</th>
                    <td>
                        <input type="radio" id="hasInvoice_no" name="hasInvoice" /><label for="hasInvoice_no">无</label>
                        <input type="radio" id="hasInvoice_yes" name="hasInvoice" /><label for="hasInvoice_yes">有</label>
                    </td>
                </tr>
                <tr>
                    <th>保修：</th>
                    <td>
                        <input type="radio" id="hasWarranty_no" name="hasWarranty" /><label for="hasWarranty_no">无</label>
                        <input type="radio" id="hasWarranty_yes" name="hasWarranty" /><label for="hasWarranty_yes">有</label>
                    </td>
                </tr>
                <tr>
                    <th>退换货：</th>
                    <td>
                        <input type="checkbox" id="sellPromise" name="sellPromise" /><label for="sellPromise">凡购买的商品，若存在质量问题或与描述不符，本店将主动提供退换货服务并承担来回邮费!</label>
                    </td>
                </tr>
                <!--其他信息-->
                <tr>
                    <th>库存计数：</th>
                    <td>
                        <input type="radio" id="hasInvoice_no" name="hasInvoice" /><label for="hasInvoice_no">拍下减库存</label>
                        <input type="radio" id="hasInvoice_yes" name="hasInvoice" /><label for="hasInvoice_yes">付款减库存</label>
                    </td>
                </tr>
                <tr>
                    <th>有效时间：</th>
                    <td>
                       开始时间：<input class="easyui-datetimebox" style="width:150px">
                       结束时间：<input class="easyui-datetimebox" style="width:150px">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div style="text-align:left;padding:10px 0 15px 0px">
                            <a href="javascript:void(0)" class="easyui-linkbutton">确定</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton">重置</a>
                        </div>
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
</div>
<script>
    UE.getEditor('editor');
</script>
