<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FileUploadServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2330/FileUploadService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FileUploadServiceSoap"
                contract="FileUploadService.FileUploadServiceSoap" name="FileUploadServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>