@{
    Layout = "~/Views/Shared/Dialog/_Index.cshtml";
    ViewBag.Title = "AttrIndex";
}

<!-- 列表 -->
<table id="grid"></table>

<!-- 工具栏 -->
<div id="toolbar">
    <div>
        <a href="#" id="add"  class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="#" id="edit" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="#" id="remove" class="easyui-linkbutton" iconCls="icon-remove" plain="true">移除</a>
        <a href="#" id="reload" class="easyui-linkbutton" iconCls="icon-reload" plain="true">刷新</a>
        
    </div>
</div>

<script type="text/javascript">

    var controller = "Attr";

    $(function () {

        //加载网格(搜索中文版对照属性，来配置)
        $('#grid').datagrid({
            title: '属性列表',
            collapsible: true,
            rownumbers: true,
            url: '/Attr/AttrList',
            method: 'get',
            loadMsg: '正在加载数据...',
            //idField: 'ProductId',
            fitColumns: false,
            width: 1180,
            height: 630,
            pagination: true,
            pageSize: 30,
            pageList: [10, 20, 30, 40, 50, 100],
            columns: [[
                { field: 'AttrId', checkbox: true },
                { field: 'id', title: '属性编号', width: 60, align: 'center' },
                { field: 'AttrName', title: '属性名称', width: 140, algin: 'center'},
                { field: 'Oid', title: '排列序号', width: 60, algin: 'center' },
                { field: 'operate', title: '操作', width: 220, align: 'center', formatter: operateFormat },
            ]],
            onLoadError: function () {
                $.messager.alert('提醒', '数据加载错误，请重试或重新登入系统');
            },
            toolbar: '#toolbar',
        });

        function operateFormat(value, row, index) {
            var html = "";
            html += "<a href=\"javascript:void(0);\" onclick=\"openWindow('添加属性值', '/Attr/AttrAdd?AttrId=" + row.id + "')\">属性值管理</a>";
            html += " | ";
            html += "<a href=\"javascript:void(0);\" onclick=\"openWindow('修改', '/Attr/AttrEdit?AttrId=" + row.id + "')\">修改</a>";
            html += " | ";
            html += "<a href=\"javascript:void(0);\" onclick=\"operateAjax({ action: 'delete', ids:" + row.id + " })\">删除</a>";
            return html;
        }

        function idFormat(value, row, index) {
            return row.ProductId;
        }

    });
</script>
