<div class="cover-page-foot fl wfs">
        <p class="subnav">

            <a target="_blank" href="http://about.ecmoban.com/company.php#contact">联系我们</a>
            <a target="_blank" href="http://about.ecmoban.com/company.php">公司简介</a>
            <a target="_blank" href="http://about.ecmoban.com/payment.php">支付方式</a>
            <a target="_blank" href="http://about.ecmoban.com/legal.php">法律条款</a>
            <a target="_blank" href="http://www.ecmoban.com/daili.php">合作代理</a>
            <a class="last" target="_blank" href="http://about.ecmoban.com/friendlink.php">友情链接</a>
        </p>
        <p class="copyright">&copy; 2005-2014 ecshop模板堂(ecmoban.com) 版权所有，并保留所有权利。常年法律顾问：上海华宏律师事务所</p>
        <p class="address">上海市普陀区中山北路2911号中关村科技大厦2402</p>
        <p class="verify">
            <a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20130119112046782">
                <img src="/content/default/upload/cover-page-foot-1.png" alt="上海工商"></a>
            <a id="kx_verify" style="display: inline-block;" kx_type="图标式" target="_blank" tabindex="-1" href="https://ss.knet.cn/verifyseal.dll?sn=e14040431010747888rvtu000000&ct=df&a=1&pa=0.7447642335747345">
                <img src="/content/default/upload/cover-page-foot-2.png" alt="诚信网站"></a>
            <a href="https://search.szfw.org/cert/l/CX20140701008307008358">
                <img src="/content/default/upload/cover-page-foot-3.png" alt="可信网站"></a>
            <a href="http://www.anquan.org/authenticate/cert/?site=ecmoban.com&at=realname">
                <img src="/content/default/upload/cover-page-foot-4.png" alt="可信网站"></a>
            <!-- <a href="http://si.trustutn.org/info?sn=476140905007345982059"><img src="/content/default/upload/cover-page-foot-5.png" alt="可信网站"></a> -->
            <iframe id="_pingansec_bottomimagelarge_shiming_iframe" width="140px" height="55px" frameborder="0" src="http://si.trustutn.org/website/cert/shiming_bottomimagelarge.jsp?sn=476140905007345982059" scrolling="no" marginwidth="0" marginheight="0" allowtransparency="true" border="0" bottom="0" style="border: 0px none; z-index: 9999; background-color: transparent; float: left; margin-top: -5px; margin-right: 15px;"></iframe>
            <a href="http://union.tenpay.com/cgi-bin/trust_mch/ShowTrustMchInfo.cgi?uin=1217551101&uin_type=1">
                <img src="/content/default/upload/cover-page-foot-6.png" alt="财付通"></a>
        </p>
    </div>
    <script src="/content/default/js/zzsc.js"></script>
    <script src="/content/default/js/posfixed.js"></script>
    <script>

        //放大镜效果
        $(".j-details-mid-item").jqueryzoom({
            xzoom: 440,
            yzoom: 440,
            offset: 10,
            position: "right",
            preload: 1,
            lens: 1
        });
        $(".j-canvas-container li").bind("click", function () {
            var data = '';
            data = $(this).find("img").attr("data");
            if (data) {
                var reg = /mp4/;
                if (reg.test(data)) {
                    $(".j-details-mid-item").html('<div style="width: 400px;height: 400px;overflow:hidden;"><iframe src="http://player.ecmoban.com/player.php/gid//v.swf?width=400&height=400" scrolling="no" allowfullscreen="" frameborder="0" height="400" width="400"></iframe></div>');
                } else {
                    $(".j-details-mid-item").html('<embed type="application/x-shockwave-flash" class="edui-faked-video" pluginspage="http://www.macromedia.com/go/getflashplayer" src="' + data + '" width="400" height="400" wmode="transparent" play="true" loop="false" menu="false" allowscriptaccess="never" allowfullscreen="true">');
                }
                return;
            }
            $(".j-details-mid-item").html('<img src="" jqimg="" alt="">');
            var src = $(this).find("img").attr("src");
            $(".j-details-mid-item img").eq(0).attr({
                src: src.replace("\/n5\/", "\/n1\/"),
                jqimg: src.replace("\/n5\/", "\/n0\/")
            });
        });
        //导航那个悬浮
        $(".j-nav").posfixed({
            distance: 0,
            pos: "top",
            type: "while",
            hide: false
        });
        //搜索框下拉框效果
        $(".search-box").mousedown(function () {
            $(".j-search-history").show();
        });
        $("form[name='searchForm']").mouseleave(function () {
            $(".j-search-history").hide();
        })
        function clear_search() {
            $.post('search.php?act=clear', '', clear_searchhtml, 'JSON');
        }
        function clear_searchhtml() {
            $('.history-items').html('');
        }


    </script>
    <div style="display: none;">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8513c8e18c0a7dc33633b4e6b1880ecb' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
    <script src="/content/default/js/suspension.js"></script>
    <!--[if IE 6]> 
    <script src="/content/default/js/ie6-tips.js"></script>
    <![endif]-->