<script type="text/javascript">
    var process_request = "正在处理您的请求...";
</script>
<div class="head fl wfs">
    <div class="cover-page-wrapper">
        <a class="fl" href="http://www.ecmoban.com">
            <img src="/content/default/upload/logo.png" title="ecshop ecshop模板 ecshop插件" alt="ecshop ecshop模板 ecshop插件"></a>
        <a class="listing fl" target="_blank" href="http://about.ecmoban.com/video.php">
            <img src="/content/default/upload/cover-page-listing.gif"></a>
        <form id="searchForm" name="searchForm" method="get" action="search.php" onsubmit="return checkSearchForm()" class="search-product fl">
            <input name="k_template" type="hidden" class="k_value" value="0">
            <input class="form-control search-box" name="keywords" autocomplete="off" type="text" id="keyword" value="" />
            <input class="submit" type="submit" style="border: none; cursor: pointer;">
            <div class="search-history j-search-history fz12">
                <div class="left fl">
                    <p class="txt fl">历史记录</p>
                    <a href="javascript:;" onclick="clear_search()"><i class="delete fr">清除</i></a>
                    <ul class="history-items fl wfs"></ul>
                </div>
                <div class="right fl">
                    <p class="txt fl">热门搜索</p>
                    <ul class="style-items fl wfs">
                        <li><a target="_blank" href="http://www.ecmoban.com/category-9-b0.html">商业模板</a></li>
                        <li><a target="_blank" href="http://www.ecmoban.com/category-23-b0.html">插件区</a></li>
                        <li><a target="_blank" href="http://www.ecmoban.com/topic/djd/">大京东</a></li>
                        <li><a target="_blank" href="http://www.ecmoban.com/topic/shangchuang/">ecshop商创版</a></li>
                        <li><a target="_blank" href="http://www.ecmoban.com/topic/weixin/">微商城</a></li>
                        <li><a target="_blank" href="http://ectouch.cn/">ECTouch</a></li>
                        <li><a target="_blank" href="http://www.ecmoban.com/goods-314.html">App</a></li>
                    </ul>
                </div>
            </div>
        </form>
        <font id="ECS_MEMBERZONE">
            <p class="head-operates-logined fr">
             <a href="/member/user/login" class="login">登录</a>
               <a href="http://member.ecmoban.com/user.php?act=collection_list" class="watch">关注</a>
             <a href="http://member.ecmoban.com/user.php?act=question" class="quest">提问</a>
         </p>
     </font>
    </div>
</div>
<script type="text/javascript" src="/content/default/js/utils.js"></script>
<script type="text/javascript">
    function checkSearchForm() {
        if (document.getElementById('keyword').value) {
            return true;
        }
        else {
            alert("请输入搜索关键词！");
            return false;
        }
    }
</script>
<script src="/content/default/js/nav.js"></script>



<div style="height: 48px; background-color: #323231;" class="fl wfs">
    <div class="nav fl wfs j-nav">
        <div class="cover-page-wrapper cover-page-wrapper2 clearfix">
            <div class="nav-menus j-nav-menus fl">
                <a class="handle" href=""><i></i>所有商品</a>
                <div class="categorys j-categorys">
                    <i class="category-trangle-bg"></i>
                    <div class="categorys-box fl wfs" style="border-left: 0;">
                        <h4 class="title fl wfs">所有模板</h4>
                        <dl class="dl-categorys-item fl wfs">
                            <dt class="dt-categorys-item"><a>按类型</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/category-9-b0.html">收费模板</a> | 
                                <a target="_blank" href="http://www.ecmoban.com/category-6-b0.html">免费模板</a>
                            </dd>
                            <dt class="dt-categorys-item"><a>按分类</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/category-4-b0-min0-max0-attr0.0.html">综合通用</a> | 
                                <a target="_blank" href="http://www.ecmoban.com/category-2-b0-min0-max0-attr0.html">家电数码</a>&nbsp;<br>
                                <a target="_blank" href="http://www.ecmoban.com/category-1-b0-min0-max0-attr0.html">服装鞋包</a> | 
                                <a target="_blank" href="http://www.ecmoban.com/category-3-b0-min0-max0-attr0.html">英文外贸</a>&nbsp;<br>
                                <a target="_blank" href="http://www.ecmoban.com/category-10-b0-min0-max0-attr0.html">美容护肤</a> | 
                                <a target="_blank" href="http://www.ecmoban.com/category-7-b0-min0-max0-attr0.html">食品保健</a>&nbsp;<br>
                                <a target="_blank" href="http://www.ecmoban.com/category-11-b0-min0-max0-attr0.html">珠宝饰品</a> | 
                                <a target="_blank" href="http://www.ecmoban.com/category-12-b0-min0-max0-attr0.html">鲜花礼品</a>&nbsp;<br>
                                <a target="_blank" href="http://www.ecmoban.com/category-8-b0-min0-max0-attr0.html">团购模板</a> | 
                            </dd>
                            <dt class="dt-categorys-item"><a>按颜色</a></dt>
                            <dd class="dd-categorys-item-color">
                                <a target="_blank" class="black" title="黑色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.198.html"><span>黑色</span></a>
                                <a target="_blank" class="white" title="白色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.290.html"><span>白色</span></a>
                                <a target="_blank" class="pink" title="粉红色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.274.html"><span>粉红色</span></a>
                                <a target="_blank" class="red" title="红色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.204.html"><span>红色</span></a>
                                <a target="_blank" class="purple" title="紫色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.223.html"><span>紫色</span></a>
                                <a target="_blank" class="blue" title="蓝色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.276.html"><span>蓝色</span></a>
                                <a target="_blank" class="green" title="绿色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.202.html"><span>绿色</span></a>
                                <a target="_blank" class="yellow" title="黄色" href="http://www.ecmoban.com/category-9-b0-min0-max0-attr0.322.html"><span>黄色</span></a>
                            </dd>
                        </dl>
                    </div>
                    <div class="categorys-box fl wfs">
                        <h4 class="title fl wfs">所有插件</h4>
                        <dl class="dl-categorys-item fl wfs">
                            <dt class="dt-categorys-item"><a>按类型</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/category-24-b0-min0-max0-attr0.html">收费插件</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/category-25-b0-min0-max0-attr0.html">免费插件</a>
                            </dd>
                            <dt class="dt-categorys-item"><a>按分类</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/category-23-b0-min0-max0-attr0.html">全部</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/category-23-b0-min0-max0-attr514.html">在线客服</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/category-23-b0-min0-max0-attr545.html">常用工具</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/category-23-b0-min0-max0-attr515.html">统计代码</a><br>
                            </dd>
                        </dl>
                    </div>
                    <div class="categorys-box fl wfs">
                        <h4 class="title fl wfs">移动端产品</h4>
                        <dl class="dl-categorys-item fl wfs">
                            <dt class="dt-categorys-item"><a>ectouch触屏版</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://ectouch.cn/download.html">源码下载</a> | 
                                <a target="_blank" href="http://ectouch.cn/license.html">ectouch商业授权</a>&nbsp;
                                <a target="_blank" href="http://www.ecmoban.com/category-40-b0-min0-max0-attr0.html">相关模板</a> | 
                                <a target="_blank" href="http://www.ecmoban.com/category-45-b0-min0-max0-attr0.html">相关插件</a>
                            </dd>
                            <dt class="dt-categorys-item"><a>微商城</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/topic/weixin/index.html">ectouch微商城</a>
                                <a target="_blank" href="http://www.ecmoban.com/topic/weixin/tong.html">ectouch微信通</a>&nbsp;&nbsp;
                                <a target="_blank" href="http://www.ecmoban.com/topic/weixin/yjdd.html">一箭多雕套餐</a>
                            </dd>
                            <dt class="dt-categorys-item"><a>App客户端</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/goods-314.html">APP商创版</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/topic/ecmobile/">ecmobile 3.0</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="categorys-box fl wfs">
                        <h4 class="title fl wfs">相关服务</h4>
                        <dl class="dl-categorys-item fl wfs">
                            <dt class="dt-categorys-item"><a>单项服务</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/topic/shouquan/">ecshop授权</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/kaifa.html">模板修改</a>
                                <br>
                                <a target="_blank" href="http://www.ecmoban.com/topic/develop/">二次开发</a>&nbsp;<br>
                                <a target="_blank" href="http://www.ecmoban.com/goods-288.html">logo定制</a>
                                <br>
                                <a target="_blank" href="http://www.ecmoban.com/topic/sjyx/">视觉营销</a>
                            </dd>
                            <dt class="dt-categorys-item"><a>整套服务</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/taocan.html">企业版套餐</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/taocan.html">专业版套餐</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/taocan.html">旗舰版套餐</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="categorys-box fl wfs">
                        <h4 class="title fl wfs">解决方案</h4>
                        <dl class="dl-categorys-item fl wfs">
                            <dt class="dt-categorys-item"><a>B2B2C</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/topic/djd/">大京东</a><br>
                                <a target="_blank" href="http://www.ecmoban.com/topic/shangchuang/">ecshop商创版</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="categorys-box fl wfs">
                        <h4 class="title fl wfs">空间服务器</h4>
                        <dl class="dl-categorys-item fl wfs">
                            <dt class="dt-categorys-item"><a>阿里云服务器</a></dt>
                            <dd class="dd-categorys-item">
                                <a target="_blank" href="http://www.ecmoban.com/goods-401.html">阿里云标准A型</a>
                                <a target="_blank" href="http://www.ecmoban.com/goods-470.html">阿里云豪华B型</a>
                                <a target="_blank" href="http://www.ecmoban.com/goods-458.html">阿里云香港服务器</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="categorys-concact">
                        <b>服务热线&nbsp;:</b>
                        <strong>4000-021-758</strong>
                        <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAwNzE2N18zNzUzN184MDAwMDcxNjdfMl8" target="_blank">
                            <img src="/content/default/upload/cover-page-service-2.png" />在线客服</a>
                    </div>
                </div>
            </div>
            <a class="channel  channel-now " href="/home">首页<span></span></a>
            <a class="channel " href="/product">产品列表<span></span></a>
            <a class="channel " href="category-6-b0.html">免费模板<span></span></a>
            <a class="channel " href="category-23-b0.html">插件区<span></span></a>
            <a class="channel " href="category-34-b0.html">手机端<span></span></a>
            <a class="channel " href="http://www.ecmoban.com/anli/" target="_blank">客户案例<span></span></a>
            <a class="channel " href="http://www.ecmoban.com/daili.php" target="_blank">合作代理<span></span></a>
            <a class="channel " href="http://bbs.ecmoban.com" target="_blank">官方论坛<span></span></a>

            <style>
                .car_no{padding: 35px; background: #fff; position: absolute; top: 47px; text-align: center; width: 405px; *height: 30px; *width: 325px; right: -1px; border: 1px solid #ddd;}
                .car_ul{padding-left: 15px; padding-top: 15px; position: absolute; top: 48px; text-align: center; width: 425px; right: 0px; border: 1px solid rgb(221, 221, 221); opacity: 1; overflow: visible; background: rgb(255, 255, 255);font-size:13px;}
                .car_ul ul{max-height:338px;overflow: auto;}
                .car_ul ul li{padding:3px; padding-bottom: 15px; border-top:1px dashed #ccc; padding-top:15px;}
                .car_ul ul .frist{border-top:none; padding-top:15px;padding-top:0;}
                .car_ul ul .photo div{float:left; padding:3px; border:1px solid #ccc;}
                .car_ul ul .photo img{width:50px; height:50px;}
                .car_ul ul .title{padding-left:15px; text-align:left; width: 240px;text-decoration: none;line-height: normal;}
                .car_ul ul .title .name{color: #000;height:35px;}
                .car_ul ul .title .spec{color: #9c9c9c;margin-top:5px;}
                .car_ul ul .action{text-align:center;width:90px;}
                .car_ul ul .action .price{color:#ef353d;height:30px;line-height:30px;}
                .car_ul ul .action .del{color:#ef353d;height:30px;line-height:30px;}
              

                .car_ul .car_bottom{height: 50px;background: #eee;padding:2px 15px; margin-left: -15px;*margin-bottom: -15px;}
                .car_ul .car_total{float:left;width:290px;text-align:left;}
                .car_ul .car_go{float:right;text-align:right;}
                .car_ul .car_bottom .total_amount,.total_money{color:#ef353d;font-size:16px;}
                .car_ul .car_bottom .car_go a{display:initial;padding: 8px 15px;background: #fd7878;border-radius: 5px;}
                    
            </style>

            <div class="cart">
                <a href="/cart/" title="查看购物车"><i></i><span>购物车</span><strong>0</strong></a>

                <div class="car_no hidden">
                    <img src="/content/default/upload/cart_car.png" />
                    <a href="/product/" style="color: #ccc;">您的购物车还没有加入任何商品哦~</a>
                </div>

                <div class="car_ul hidden">
                  <ul>
                    <li class="clearfix frist">
                      <div class="fl photo">
                        <div> 
                            <a href="http://www.ecmoban.com/goods-500.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/500_thumb_G_1412041119545.png"></a> 
                        </div>
                      </div>
                      <div class="fl title"> 
                          <a href="http://www.ecmoban.com/goods-500.html">
                              <div class="name">ECSHOP模板堂天猫商城升级旗舰版+团...</div> 
                              <div class="spec">颜色:红色   尺码:37   品牌:耐克</div>
                          </a> 
                          
                      </div>
                      <div class="fl action">
                          <div class="price">￥680000元</div>
                          <div class="del">删除</div>
                      </div>
                    </li>

                    <li class="clearfix">
                      <div class="fl photo">
                        <div> 
                            <a href="http://www.ecmoban.com/goods-500.html"><img src="http://upfile.ecmoban.com/images/201409/thumb_img/500_thumb_G_1412041119545.png"></a> 
                        </div>
                      </div>
                      <div class="fl title"> 
                          <a href="http://www.ecmoban.com/goods-500.html">
                              <div class="name">ECSHOP模板堂天猫商城升级旗舰版+团...</div> 
                              <div class="spec">颜色:红色   尺码:37   品牌:耐克</div>
                          </a> 
                          
                      </div>
                      <div class="fl action">
                          <div class="price">￥680000元</div>
                          <div class="del">删除</div>
                      </div>
                    </li>

                  </ul>
                  <div class="car_bottom clearfix">
                    <div class="car_total">共<b class="total_amount">4</b>个商品，共计<b class="total_money">￥27200元</b></div>
                    <div class="car_go"><a href="flow.php">进入购物车</a></div>
                  </div>
                </div>

                <script>
                    $(function () {
                        initCar();
                    });

                    function initCar() {
                        $.ajax({
                            url: "/Cart/GetCart",
                            type: "Post",
                            dataType: "json",
                            beforeSend: function () {
                            },
                            success: function (data) {
                                loadCar(data);
                            },
                            error: function () {
                                alert('系统异常，请重试或联系技术');
                            }
                        });
                    }

                    function loadCar(data) {
                        var totalCount = 0;
                        var totalMoney = 0;
                        for (var i=0; i < data.length; i++) {
                            totalCount++;
                            
                        }

                        if (totalCount > 0) {
                            $(".total_amount").text(totalCount);
                            
                        }

                        $(".cart").hover(function () {
                            if (totalCount == 0) {
                                $(".car_no").removeClass("hidden");
                            }
                            else {
                                $(".car_ul").removeClass("hidden");
                            }
                        }, function () {
                            if (totalCount == 0) {
                                $(".car_no").addClass("hidden");
                            }
                            else {
                                $(".car_ul").addClass("hidden");
                            }
                        });

                        

                    }
                </script>
            </div>
        </div>
    </div>
</div>
