<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="Generator" content="ECSHOP v2.7.3" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <title>棋牌游戏</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/content/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="/content/default/css/index.css">

    <script type="text/javascript" src="/content/default/js/jquery.min.js"></script>
    <script type="text/javascript" src="/content/default/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/content/default/js/jquery.lazyload.js"></script>
    <script type="text/javascript">
        $(function(){
            $('img[data-original]').lazyload({effect:"fadeIn"});
        })
    </script>
</head>
<body>
    @Html.Partial("_Header")

    @RenderBody()
</body>
</html>
