@{
    Layout = "~/Views/Shared/Order/_Layout.cshtml";
    ViewBag.Title = "Detail";
}

@section Contents {
    @System.Web.Optimization.Styles.Render("~/content/css/user.css")
}

<div class="usBox">
    <div class="usBox_top">
        <a href="/user/login">登陆</a>
        <a href="/user/register">注册</a>
        <a href="/user/getPassword" class="active">找回密码</a>
    </div>
    @*<div class="longTop">Hi，请使用注册邮箱找回密码，如遇到困难，请 <a href="http://bizapp.qq.com/webc.htm?new=0&sid=800007167&o=b.qq.com&q=7" class="c4095ce">联系我们</a>  :)</div>*@
    <form action="user.php" method="post" name="getPassword" onsubmit="return submitPwdInfo();">
        <table width="100%" cellspacing="0" cellpadding="0" class="norTable">
            <tbody>
                <tr>
                    <th width="100"></th>
                    <td style="height: 30px;"></td>
                    <td width="435" class="  leftBorder center" rowspan="5" style="border-bottom: none" valign="top">

                        <img src="/content/images/user_img.jpg" style="padding-left: 5px; float: left" />
                    </td>
                </tr>
                <tr>
                    <th>用户名</th>
                    <td>
                        <input name="user_name" type="text" size="30" class="inputBg" /></td>
                </tr>
                <tr>
                    <th>电子邮件地址</th>
                    <td>
                        <input name="email" type="text" size="30" class="inputBg" /></td>
                </tr>
                <tr>
                    <th></th>
                    <td class="vm" style="padding-bottom: 80px;">

                        <input type="hidden" name="act" value="send_pwd_email" />
                        <input type="submit" name="submit" value="找回密码" class="user_bnt" style="border: none;" />

                    </td>
                </tr>

            </tbody>
        </table>
    </form>

</div>
