<DocumentElement>
  <Product>
    <ProductName>正品 ADIDAS 阿迪达斯男子三条纹针织圆领套衫 X12193</ProductName>
    <ProductNum>X12193</ProductNum>
    <Unit>件</Unit>
    <Year>2012</Year>
    <Season>冬</Season>
    <Weight>0.48</Weight>
    <Sex>男</Sex>
    <PriceMarket>329.0000</PriceMarket>
    <PriceCost>180.95</PriceCost>
    <Brand>阿迪达斯</Brand>
    <Material>80%棉/20%聚酯纤维</Material>
    <ProductPic>http://image.yieke.com/UploadFiles/shop/2011/12/201112271036135217.jpg</ProductPic>
    <SizePic>&lt;p&gt;&lt;img alt="" src="http://image.yieke.com/uploadfiles/FTP/yieke/AD XL FZ.jpg" /&gt;&lt;/p&gt;</SizePic>
    <MainColor>黑色</MainColor>
    <ProductIntro>adidas经典运动基础系列三条玟针织圆领套衫，简单大方的款式，无论的内搭还是外穿都是你不错的选择。</ProductIntro>
    <MultiplePhoto>http://image.yieke.com/UploadFiles/shop/2011/12/201112271036179796.jpg$$$http://image.yieke.com/UploadFiles/shop/2011/12/201112271036179861.jpg$$$http://image.yieke.com/UploadFiles/shop/2011/12/201112271036185234.jpg$$$http://image.yieke.com/UploadFiles/shop/2011/12/201112271036180960.jpg$$$http://image.yieke.com/UploadFiles/shop/2011/12/201112271036189058.jpg</MultiplePhoto>
    <Stocks>S|黑:191;M|黑:222;L|黑:231;XL|黑:182;2XL|黑:30;XS|黑:10;均码|黑:0;3XL|黑:0;28|黑:0;30|黑:0;32|黑:0;34|黑:0;36|黑:0;38|黑:0;</Stocks>
    <Category>服装|外套|卫衣/绒衫</Category>
    <SaleStatus>1</SaleStatus>
  </Product>
</DocumentElement>





<?xml version="1.0" encoding="utf-8"?>
<orders>
  <order>
    <site_id>1000</site_id>
    <site_name>taoxie</site_name>
    <order_no>TX2013110600843</order_no>
    <order_time>2013/11/6 14:19:50</order_time>
    <update_time>2013/11/6 14:19:50</update_time>
    <status>1</status>
    <postage>60.00</postage>
    <payment>698.00</payment>
    <favorable>0.00</favorable>
    <favorable_code></favorable_code>
    <favorable_commission>0.00</favorable_commission>
    <order_commission>46.87</order_commission>
    <product_commission>
      product><product_no>442477-013</product_no><product_name>耐克专柜正品  2013新款 MAVRK LOW 2 经典百搭 男子 休闲鞋板鞋  442477-013</product_name><price>399.00</price><quantity>1</quantity><rebate_type>2</rebate_type><rebate_proportion>8%</rebate_proportion><commission>31.92</commission></product><product>
        <product_no>G17469</product_no>
        <product_name>阿迪达斯正品 2013冬季新款 男子 网球鞋 运动鞋 G17469 CQF</product_name>
        <price>299.00</price>
        <quantity>1</quantity>
        <rebate_type>1</rebate_type>
        <rebate_proportion>5%</rebate_proportion>
        <commission>14.95</commission>
      </product>
    </product_commission>
  </order>
</orders>




<response>
  <product>
    <productnum>W53121</productnum>
    <pricemarket>268.00</pricemarket>
    <stock>
      <item>
        <property>L|尊贵黄/超群青蓝</property>
        <stock>4</stock>
        <warehouse>金华本仓三</warehouse>
        <price>131.32</price>
      </item>
      <item>
        <property>M|尊贵黄/超群青蓝</property>
        <stock>1</stock>
        <warehouse>金华本仓三</warehouse>
        <price>131.32</price>
      </item>
      <item>
        <property>L|尊贵黄/超群青蓝</property>
        <stock>11</stock>
        <warehouse>长沙仓</warehouse>
        <price>144.72</price>
      </item>
      <item>
        <property>M|尊贵黄/超群青蓝</property>
        <stock>1</stock>
        <warehouse>长沙仓</warehouse>
        <price>144.72</price>
      </item>
    </stock>
  </product>
</response>



<response>
  <product>
    <productnum>X12193</productnum>
    <pricemarket>329.00</pricemarket>
    <stock>
      <item>
        <property>S|黑</property>
        <stock>75</stock>
        <warehouse>金华本仓三</warehouse>
        <price>180.95</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>63</stock>
        <warehouse>金华本仓三</warehouse>
        <price>180.95</price>
      </item>
      <item>
        <property>L|黑</property>
        <stock>50</stock>
        <warehouse>金华本仓三</warehouse>
        <price>180.95</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>29</stock>
        <warehouse>金华本仓三</warehouse>
        <price>180.95</price>
      </item>
      <item>
        <property>XS|黑</property>
        <stock>1</stock>
        <warehouse>金华本仓三</warehouse>
        <price>180.95</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>4</stock>
        <warehouse>北京仓</warehouse>
        <price>184.24</price>
      </item>
      <item>
        <property>L|黑</property>
        <stock>14</stock>
        <warehouse>北京仓</warehouse>
        <price>184.24</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>11</stock>
        <warehouse>北京仓</warehouse>
        <price>184.24</price>
      </item>
      <item>
        <property>S|黑</property>
        <stock>21</stock>
        <warehouse>北京仓</warehouse>
        <price>184.24</price>
      </item>
      <item>
        <property>XS|黑</property>
        <stock>3</stock>
        <warehouse>北京仓</warehouse>
        <price>184.24</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>51</stock>
        <warehouse>武汉T仓</warehouse>
        <price>174.37</price>
      </item>
      <item>
        <property>2XL|黑</property>
        <stock>10</stock>
        <warehouse>武汉T仓</warehouse>
        <price>174.37</price>
      </item>
      <item>
        <property>L|黑</property>
        <stock>63</stock>
        <warehouse>武汉T仓</warehouse>
        <price>174.37</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>51</stock>
        <warehouse>武汉T仓</warehouse>
        <price>174.37</price>
      </item>
      <item>
        <property>S|黑</property>
        <stock>27</stock>
        <warehouse>武汉T仓</warehouse>
        <price>174.37</price>
      </item>
      <item>
        <property>L|黑</property>
        <stock>4</stock>
        <warehouse>福州B仓</warehouse>
        <price>185.89</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>5</stock>
        <warehouse>福州B仓</warehouse>
        <price>185.89</price>
      </item>
      <item>
        <property>S|黑</property>
        <stock>4</stock>
        <warehouse>福州B仓</warehouse>
        <price>185.89</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>3</stock>
        <warehouse>福州B仓</warehouse>
        <price>185.89</price>
      </item>
      <item>
        <property>XS|黑</property>
        <stock>1</stock>
        <warehouse>福州B仓</warehouse>
        <price>185.89</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>2</stock>
        <warehouse>成都本仓</warehouse>
        <price>171.08</price>
      </item>
      <item>
        <property>2XL|黑</property>
        <stock>5</stock>
        <warehouse>江西一区仓</warehouse>
        <price>197.4</price>
      </item>
      <item>
        <property>L|黑</property>
        <stock>30</stock>
        <warehouse>江西一区仓</warehouse>
        <price>197.4</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>38</stock>
        <warehouse>江西一区仓</warehouse>
        <price>197.4</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>20</stock>
        <warehouse>江西一区仓</warehouse>
        <price>197.4</price>
      </item>
      <item>
        <property>S|黑</property>
        <stock>38</stock>
        <warehouse>江西一区仓</warehouse>
        <price>197.4</price>
      </item>
      <item>
        <property>XS|黑</property>
        <stock>5</stock>
        <warehouse>江西一区仓</warehouse>
        <price>197.4</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>1</stock>
        <warehouse>上海T仓</warehouse>
        <price>184.24</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>1</stock>
        <warehouse>上海T仓</warehouse>
        <price>184.24</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>4</stock>
        <warehouse>浙江Y仓</warehouse>
        <price>190.82</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>4</stock>
        <warehouse>成都仓</warehouse>
        <price>161.21</price>
      </item>
      <item>
        <property>L|黑</property>
        <stock>18</stock>
        <warehouse>宁波RL仓</warehouse>
        <price>195.76</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>11</stock>
        <warehouse>宁波RL仓</warehouse>
        <price>195.76</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>8</stock>
        <warehouse>宁波RL仓</warehouse>
        <price>195.76</price>
      </item>
      <item>
        <property>2XL|黑</property>
        <stock>1</stock>
        <warehouse>宁波RL仓</warehouse>
        <price>195.76</price>
      </item>
      <item>
        <property>S|黑</property>
        <stock>5</stock>
        <warehouse>宁波RL仓</warehouse>
        <price>195.76</price>
      </item>
      <item>
        <property>L|黑</property>
        <stock>52</stock>
        <warehouse>上海BL仓</warehouse>
        <price>203.98</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>41</stock>
        <warehouse>上海BL仓</warehouse>
        <price>203.98</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>48</stock>
        <warehouse>上海BL仓</warehouse>
        <price>203.98</price>
      </item>
      <item>
        <property>2XL|黑</property>
        <stock>14</stock>
        <warehouse>上海BL仓</warehouse>
        <price>203.98</price>
      </item>
      <item>
        <property>S|黑</property>
        <stock>7</stock>
        <warehouse>上海BL仓</warehouse>
        <price>203.98</price>
      </item>
      <item>
        <property>S|黑</property>
        <stock>14</stock>
        <warehouse>上海D仓</warehouse>
        <price>174.37</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>4</stock>
        <warehouse>成都A仓</warehouse>
        <price>187.53</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>5</stock>
        <warehouse>成都J仓</warehouse>
        <price>167.79</price>
      </item>
      <item>
        <property>M|黑</property>
        <stock>1</stock>
        <warehouse>上海本仓三仓</warehouse>
        <price>174.37</price>
      </item>
      <item>
        <property>XL|黑</property>
        <stock>1</stock>
        <warehouse>上海本仓三仓</warehouse>
        <price>174.37</price>
      </item>
    </stock>
  </product>
</response>

<DocumentElement>
  <Product>
    <Stocks>S|黑:191;M|黑:222;L|黑:231;XL|黑:182;2XL|黑:30;XS|黑:10;均码|黑:0;3XL|黑:0;28|黑:0;30|黑:0;32|黑:0;34|黑:0;36|黑:0;38|黑:0;</Stocks>
    <ProductNum>X12193</ProductNum>
    <SaleStatus>1</SaleStatus>
  </Product>
</DocumentElement>


