<?xml version="1.0" encoding="utf-8" ?>
<data>
  <apiversion>4.0</apiversion>
  <site_name>网站名</site_name>
  <wap_orderurl>http://www.xxx.com/wap_orderurl</wap_orderurl>
  <goodsdata>
    <goods id="1">
      <pid>1234567</pid>
      <feature>代金券,3人餐,自助游</feature>
      <city_name>北京</city_name>
      <site_url>http://www.sitename.com/beijing</site_url>
      <title>【8店通用】香草香草云南原生态火锅代金券1张</title>
      <short_title>香草香草代金券</short_title>
      <goods_url>http://www.sitename.com/######</goods_url>
      <goods_wapurl>http://wap.sitename.com/######</goods_wapurl>
      <wap_buyurl>http://wap.sitename.com/######</wap_buyurl>
      <desc>仅售75元，价值100元的香草香草云南原生态火锅代金券1张，全场通用！云南美食天下美，香草香飘万里归！滇南风味，营养之选！</desc>
      <class>本地美食</class>
      <end_class>火锅</end_class>
      <img_url>http://maya.xxx.com/xxx.jpg</img_url>
      <pins>
        <pin>http://p2.qhimg.com/dr/_390_/t014c7d9bcbc68b0a17.jpg</pin>
        <pin>http://p4.qhimg.com/dr/_390_/t01f812a96e0c9a84e6.jpg</pin>
        <pin>http://p0.qhimg.com/dr/_390_/t017fa775b1ed3bd0fa.jpg</pin>
        <pin>http://p3.qhimg.com/dr/_390_/t0147ac1120fd6e5fe3.jpg</pin>
        <pin>http://p3.qhimg.com/dr/_390_/t0147ac1120fd6e5fe3.jpg</pin>
      </pins>
      <original_price>188.00</original_price>
      <sale_price>49.00</sale_price>
      <sale_rate>3.5</sale_rate>
      <sales_num>501</sales_num>
      <start_time>20100714090000</start_time>
      <close_time>20100714090000</close_time>
      <merchants>
        <merchant>
          <shop_city>北京</shop_city>
          <name>香草香草云南原生态火锅(大理店)</name>
          <brand_name>香草香草</brand_name>
          <addr>苏州街55号名商大厦2楼</addr>
          <tel>010-82621976</tel>
          <area>中关村 苏州街</area>
          <lng>12.345678</lng>
          <lat>23.4567891</lat>
          <open_time>11:00-21:30</open_time>
          <traffic_info>蒲黄榆路28号B-C综合楼2楼(近地铁5号线蒲黄榆站C口)</traffic_info>
          <dpid>1388790</dpid>
          <cinemaid></cinemaid>
          <wifi>1</wifi>
        </merchant>
        <merchant>
          <shop_city>北京</shop_city>
          <name>香草香草云南原生态火锅(丽江店)</name>
          <brand_name>香草香草</brand_name>
          <addr>朝阳北路237号复星国际中心2楼</addr>
          <tel>010-65851976; 010-85715898</tel>
          <area>朝阳门</area>
          <lng>12.345678</lng>
          <lat>23.4567891</lat>
          <open_time>11:00-21:30</open_time>
          <traffic_info>蒲黄榆路28号B-C综合楼2楼(近地铁5号线蒲黄榆站C口)</traffic_info>
          <dpid>1388790</dpid>
          <cinemaid></cinemaid>
          <wifi>1</wifi>
        </merchant>
        <merchant>......... </merchant>
      </merchants>
      <destination></destination>
      <spend_start_time>20100714090000</spend_start_time>
      <spend_close_time>20100714090000</spend_close_time>
      <tip>
        [CDATA[有效期：2012.7.26 至 2012.9.20
        每周六、日不可使用
        使用时间：11:00-14:00,17:00-21:30
        请至少提前1天致电预约
        本单不限制购买数量
        仅限堂食，餐毕若未吃完可打包，需另付餐盒费1元/个
        仅限大厅用餐，不可使用包间
        酒水、饮料等问题，请致电商家咨询，以商家反馈为准]]
      </tip>
    </goods>
    <goods id="2">
      <!-- 多件商品、多个城市的，重复定义 -->
    </goods>
  </goodsdata>
</data>
