<?xml version="1.0" encoding="utf-8" ?>
<data>
  <apiversion>api的版本</apiversion>
  <site_name>网站名</site_name>
  <wap_orderurl>移动端订单查询</wap_orderurl>
  <goodsdata>
    <goods id="1">
      <pid>商品的唯一id</pid>
      <feature>商品的特征标签</feature>
      <city_name>城市名称</city_name>
      <site_url>网站站点地址</site_url>
      <title>商品短标题</title>
      <short_title>商品名称（只需提供网购类及旅游酒店类商品，用于移动端）</short_title>
      <bigimg_url>高清商品大图一张（用于移动端）</bigimg_url>
      <goods_url>商品地址</goods_url>
      <wap_buyurl>移动端下单链接</wap_buyurl>
      <goods_wapurl>商品WAP站点地址</goods_wapurl>
      <desc>商品描述</desc>
      <class>商品顶级类别</class>
      <end_class>末级类别</end_class>
      <img_url>商品头图</img_url>
      <pins>
        <pin>瀑布流图片1</pin>
        <pin>瀑布流图片2</pin>
        <pin>瀑布流图片3</pin>
        <pin>瀑布流图片4</pin>
        <pin>瀑布流图片5</pin>
      </pins>
      <original_price>原价</original_price>
      <sale_price>售价</sale_price>
      <sale_rate>折扣</sale_rate>
      <sales_num>购买人数</sales_num>
      <start_time>团购开始时间</start_time>
      <close_time>团购结束时间</close_time>
      <reservation>是否需要预约</reservation>
      <merchants>
        <merchant>
          <shop_city>店铺所在城市名称</shop_city>
          <name>商家名称</name>
          <brand_name>总店名称(品牌名称)</brand_name>
          <addr>店铺地址</addr>
          <tel>联系电话</tel>
          <area>热门商圈</area>
          <lng>经度</lng>
          <lat>纬度</lat>
          <open_time>营业时间</open_time>
          <traffic_info>公交信息</traffic_info>
          <dpid>该商家在大众点评的商户ID</dpid>
          <cinemaid>影院id</cinemaid>  --新增 如果是电影票团单的话务必填写
          <wifi>是否支持wifi，0：不支持 1：支持</wifi>
        </merchant>
        <merchant>........</merchant>
      </merchants>
      <destination>旅游团单目的地</destination>
      <spend_start_time>消费开始时间</spend_start_time>
      <spend_close_time>消费结束时间</spend_close_time>
      <tip>团单购买须知</tip>
      <coupon>是否是代金券 0：不是 1：是</coupon>
    </goods>
    <goods id="2">
      <!-- 多件商品、多个城市的，重复定义 -->
    </goods>
  </goodsdata>
</data>
