@{
    Layout = "~/Views/Shared/Dialog/_Add.cshtml";
    ViewBag.Title = "AttrEdit";
}

@model Zero.Domain.Cates.AttrValue

@if (Model != null)
{
<form id="Form" action="@Url.Action("AttrValueEdit","AttrValue")" method="post">
   <table class="z-tb-form">
        <tr>
            <th>属性值名称：</th>
            <td>
               <input type="hidden"  name="AttrId" value="0"/>
               <input type="hidden"  name="ValueId" value="@Model.ValueId"/>
               <input  type="text" name="ValueName" value="@Model.ValueName"  data-options="required:true,validType:['length[2,30]']" style="width:200px;">
            </td>
        </tr>
        <tr>
            <th>排列序号：</th>
            <td><input type="text" name="Oid" value="@Model.Oid" class="easyui-validatebox" data-options="validType:['number','size[0,100000]']" style="width:150px;"/></td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $(function () {
        $("#AttrId").val(window.parent.attrId);
    });
</script>
 }
