@{
    Layout = "~/Views/Shared/Dialog/_Add.cshtml";
    ViewBag.Title = "CateAttrAdd";
}

@model Zero.Domain.Cates.CateAttrExpand

<form id="Form" action="@Url.Action("CateAttrAdd","CateAttr")" method="post">
    <table class="z-tb-form">        
        <tr>
            <th>类名：</th>
            <td>
                @Model.CateName
                <input type="hidden" name="CateId" value="@Model.CateId">
            </td>
        </tr>
        <tr>
            <th>属性：</th>
            <td>
                <input type="text" id="Attr" name="AttrId">
            </td>
        </tr>
        <tr>
            <th>类型：</th>
            <td>
                <input type="radio" id="multiCheck" name="Type" checked="checked" value="1"/><label for="multiCheck">多选</label>
                <input type="radio" id="optional" name="Type" value="2"/><label for="optional">单选</label>
                <input type="radio" id="multiCheckText" name="Type" value="3"/><label for="multiCheckText">可输入多选</label>
                <input type="radio" id="optionalText" name="Type" value="4"/><label for="optionalText">可输入单选</label>
                <input type="radio" id="text" name="Type" value="5"/><label for="text">可输入</label>
            </td>
        </tr>
        <tr>
            <th>是否必填：</th>
            <td><input name="IsMust" type="checkbox" value="1"/></td>
        </tr>
        <tr>
            <th>是否关键属性：</th>
            <td><input name="IsKey" type="checkbox" value="1"/></td>
        </tr>
        <tr>
            <th>是否销售属性：</th>
            <td><input name="IsSale" type="checkbox" value="1"/></td>
        </tr>
        <tr>
            <th>是否允许别名：</th>
            <td><input name="IsAllowAlias" type="checkbox" value="1"/></td>
        </tr>
    </table>
</form>
<script>
    $(function () {
        $('#Attr').combogrid({
            panelWidth: 420,
            idField: 'AttrId',
            textField: 'AttrName',
            url: '/Attr/AttrList',
            method: 'get',
            multiple: true,
            pagination: true,
            pageSize: 30,
            pageList: [10, 20, 30, 40, 50, 100],
            columns: [[
                { field: 'AttrId', checkbox: true },
                { field: 'id', title: '属性编号', width: 60, align: 'center' },
                { field: 'AttrName', title: '属性名称', width: 140, algin: 'center' },
            ]]
        });

    });
</script>
