@{
    Layout = "~/Areas/Member/Views/Shared/_Center.cshtml";
    ViewBag.Title = "Index";
}

<style>
    .member-index .left{width:640px;padding: 0;}
    .member-index .left .user{background-color: #fff;padding:25px;}
    .member-index .left .orders-items{background-color: #fff;margin-top:10px;}
    .member-index .left .orders-items dd.item{margin-top:0px;}
    .member-index .left .orders-items .order-msg{background-color:#a0cdeb;}

    .member-index .panel{background-color: #fff;margin-top:10px;margin-bottom:0;}
    .member-index .panel .bar{background-color:#1F5688;height:40px;color:#fff;line-height:40px;padding:0 15px;}
    .member-index .panel .bar a{float: right;color: #fff;}
    .member-index .panel .content{font-size:12px;background-color: #fff}

    .love .content{padding:15px;}
    .love li{float:left; width:182px;height:235px;margin-right:20px;margin-bottom:20px;border:1px solid #e4eaee;background-color: #fff}
    .love li .title{padding:3px 10px;}
    .love li .price{padding:3px 10px;color:#ff6a00;font-size:15px;}


    .history .content{padding:15px;}
    .history li{float:left; width:72px;height:80px;margin-right:15px;margin-bottom:15px;background-color: #fff}
    .history li .price{text-align:center;}
    

    .member-index .right{padding-right:0px;background-color:none;width:300px;}
    .member-index .right .data{margin:0;}
    .mt10{margin-top:10px;}
    
</style>

<div class="member-index fr" style="width:955px;">
    <div class="left fl">
        <div class="user">
            <h2>亲爱的糖粉， 欢迎您登入首页！</h2>
            <p class="msg">您的余额：<span>￥0.00元</span></p>
            <p class="msg">您的等级：<span>注册用户</span></p>
            <p class="msg">
                我的订单：
                <a class="j-item " href="user.php?act=order_list&num=2">待付款（0）</a> 
                <a class="j-item " href="user.php?act=order_list&num=3">待发货（0）</a> 
                <a class="j-item " href="user.php?act=order_list&num=3">待收货（0）</a>
                <a class="j-item " href="user.php?act=order_list&num=3">待评价（0）</a>
            </p>
        </div>

        <div class="love panel">
            <div class="bar">
                我关注的商品
                <a>查看更多</a>
            </div>
            <div class="content clearfix">
                <ul>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price"><span>￥700</span></div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味七七</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味七七</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="love panel">
            <div class="bar">
                根据浏览，猜我喜欢 
                <a>换一组</a>
            </div>
            <div class="content clearfix">
                <ul>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price"><span>￥700</span></div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味七七</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                    <li>
                        <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_180x180_0.jpg" /></div>
                        <div>
                            <div class="title">ECSHOP模板堂美味七七</div>
                            <div class="price">￥700</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="right fr">
    <div class="data">
        <p><a href="http://member.ecmoban.com/user.php?act=profile">修改</a>您的资料</p>
        <div style="background:none;"> <span class="qq">Q Q：未填写</span> <span class="phone">手机：未填写</span> <span class="email">邮箱：14000682863@qq.com</span> </div>
    </div>
    <div class="history panel">
        <div class="bar">
            游览历史 
            <a>查看更多</a>
        </div>
        <div class="content clearfix">
            <ul>
                <li>
                    <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_70x70_0.jpg" /></div>
                    <div>
                        <div class="price"><span>￥700</span></div>
                    </div>
                </li>
                <li>
                    <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_70x70_0.jpg" /></div>
                    <div>
                        <div class="price">￥700</div>
                    </div>
                </li>
                <li>
                    <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_70x70_0.jpg" /></div>
                    <div>
                        <div class="price">￥700</div>
                    </div>
                </li>
                <li>
                    <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_70x70_0.jpg" /></div>
                    <div>
                        <div class="price">￥700</div>
                    </div>
                </li>
                <li>
                    <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_70x70_0.jpg" /></div>
                    <div>
                        <div class="price">￥700</div>
                    </div>
                </li>
                <li>
                    <div><img src="http://img.zero.com/tb/order/2014/4/201404201626320_70x70_0.jpg" /></div>
                    <div>
                        <div class="price">￥700</div>
                    </div>
                </li>
                </ul>
        </div>
    </div>
    <div class="mt10"> 
        <a href="http://www.ecmoban.com/topic/djd/" target="_blank"><img width="300" height="180" src="/content/default/upload/member-index-banner.png" title="查看详情"></a>
    </div>
    </div>
</div>