@{
    ViewBag.Title = "_Header";
}

<div class="header_bg" style="height: 60px;">
        <div class="block block950 clearfix">
            <div class="h1">
                <a href="http://www.ecmoban.com" name="top" title="ecshop ecshop模板 ecshop插件">ecshop ecshop模板</a>
            </div>


            <div style="float: right">
                <script type="text/javascript">
    
                <!--
                function checkSearchForm()
                {
                    if(document.getElementById('keyword').value)
                    {
                        return true;
                    }
                    else
                    {
                        alert("请输入搜索关键词！");
                        return false;
                    }
                }
                -->
    
               </script>

                <div class="f_r header_flow_r">
                    <script type="text/javascript" src="js/transport.js"></script>
                    <script type="text/javascript" src="js/utils.js"></script>
                    <font id="ECS_MEMBERZONE"><div id="append_parent"></div>
 
 <span class="f_l">嗨，欢迎来ecshop模板堂！</span><a href="user.php">登录</a> 
 <a href="user.php?act=register">注册</a>  
 </font>

                    <span style="padding-left: 15px;">咨询热线：<b>4000 021 758</b></span>
                </div>
            </div>
        </div>
    </div>
    <div class="blank"></div>
