<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <customErrors mode="On" defaultRedirect="/FileNotFound.aspx">
        <error statusCode="404" redirect="/FileNotFound.aspx" />
      </customErrors>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/FileNotFound.aspx" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/FileNotFound.aspx" responseMode="ExecuteURL" />
        </httpErrors>
        <handlers>
            <add name="jpg" path="*.jpg" verb="*" type="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="File" preCondition="integratedMode" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
